.worktrees/
node_modules
.next/
.pnpm-store/
.vscode/
playwright-report/
test-results/
.logs/
*.tsbuildinfo
.env*
!.env.example

# clerk configuration (can include secrets)
/.clerk/
.vercel
.env*.local
